In [1]:
import numpy as np
import pandas as pd

In [2]:
list = [[1,2,3],[4,5,6]]

In [3]:
df = pd.DataFrame(list)

In [4]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
df.describe()

             0        1        2
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [6]:
df.mean()

0    2.5
1    3.5
2    4.5
dtype: float64

In [7]:
df.median()

0    2.5
1    3.5
2    4.5
dtype: float64

In [8]:
df.std()

0    2.12132
1    2.12132
2    2.12132
dtype: float64

In [9]:
df.corr()

     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [10]:
df.count()

0    2
1    2
2    2
dtype: int64

In [11]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [12]:
df.max()

0    4
1    5
2    6
dtype: int64

In [13]:
df.min()

0    1
1    2
2    3
dtype: int64